body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    color: navy;
}

h2 {
    color: navy;
}

h3 {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    padding: 6px 10px;
    margin: 3px;
    display: inline-block;
}

a:hover {
    background-color: navy;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 6px 0;
}

li a {
    display: block;
    background-color: lightblue;
    color: black;
    text-align: center;
}

li a:hover {
    background-color: cornflowerblue;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

